<header class="header">
    <div class="logo"><h2>Helios</h2>&nbsp;<h6>pyp</h6></div>
    <button id="btn-prev"><mat-icon  class="mat-icon" aria-hidden="false" aria-label="Example home icon">arrow_back_ios</mat-icon></button>
    <div class="header-items" id="header-items">
        <span><mat-icon  class="mat-icon" aria-hidden="false" aria-label="Example home icon" role="button">campaign<h3>12</h3></mat-icon></span>
        <span><mat-icon  class="mat-icon" aria-hidden="false" aria-label="Example home icon" role="button">email<h3>12</h3></mat-icon></span>
        <span><mat-icon  class="mat-icon" aria-hidden="false" aria-label="Example home icon" role="button">sms<h3>12</h3></mat-icon></span>
        <span><mat-icon  class="mat-icon" aria-hidden="false" aria-label="Example home icon" role="button">chat<h3>12</h3></mat-icon></span>
        <span><mat-icon  class="mat-icon" aria-hidden="false" aria-label="Example home icon" role="button">phone<h3>12</h3></mat-icon></span>
        <span><mat-icon  class="mat-icon" aria-hidden="false" aria-label="Example home icon" role="button">phonelink_ring<h3>12</h3></mat-icon></span>
    </div>
    <div class="header-fixed">
        <span class="fixed-item"><mat-icon  class="mat-icon" aria-hidden="false" aria-label="Example home icon" role="button">settings</mat-icon></span>
        <span class="fixed-item"><mat-icon  class="mat-icon" aria-hidden="false" aria-label="Example home icon" (click)="openDialog()" role="button">person</mat-icon></span>
    </div>
</header>